<!-- 弹出层 -->
<div>
  <script type="text/ng-template" id="newDemoDialogContent.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">X</button>
      <h3 class="modal-title">Mock</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="newAgentForm" novalidate>
        <alert ng-repeat="alert in newDemoAlerts" type="{{alert.type}}" close="closeNewAgentAlert($index)">
          {{alert.msg}}
        </alert>
        <div class="form-group">
          <label for="ip" class="col-sm-2 control-label"><span
            style="color:#ff1f2b"> * </span>IP</label>

          <div class="col-sm-10 ">
            <input type="text" class="form-control" id="ip" ng-model="ip"
                   placeholder="机器IP地址,一般是内网"/>
          </div>
        </div>
        <div class="form-group">
          <label for="hostname" class="col-sm-2 control-label"><span
            style="color:#ff1f2b"> * </span>描述</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="hostname" ng-model="hostname"
                   placeholder="描述,一般为hostname"/>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="col-sm-2 control-label"><span style="color:#ff1f2b"> * </span>生效</label>
          </div>
          <div class="col-sm-10">
            <div class="btn-group">
              <label class="btn btn-success" ng-model="isEnable" btn-radio="'N'">N</label>
              <label class="btn btn-success" ng-model="isEnable" btn-radio="'Y'">Y</label>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</div>
