<div ng-include src="'views/common/menubar.html'"></div>
<div>
  <div class="row clearfix">
    <div class="column full">
      <figure class="hdr">
        <img src="images/welcome.jpg" style="width: 100%; height: 100%;">

        <div>
          <figcaption>
            <h2>I'm <span>Janna</span></h2>
            <p> {{ welcomeMsg }}</p>
            <a href="#" class="btn btn-dark">
              <strong>Login</strong>
            </a>
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
